body
    { padding: 0;
     margin: 0;
    box-sizing: border-box;
    
}

/* Styling for the intro page / play - start page */

.overlay{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

/* This image is being used as a background for every page */

.startImage{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}


/*It styles the how many clicks you have text on you win or you lose page*/
#retriveClicks{
    color: #f1f1f1;
    font-size: calc(1.1rem + 34px);
    width: 100%;
    padding-bottom: 53px;
    text-align: center;
   
}

/*..................*/


.playText{
    font-family: 'VT323', monospace;
    font-size: 8rem;
    color: #087535;
}

/* Play button style */

#play{
    width: 10%;
    height: 62px;
    margin: 0;
    border-radius: 50px;
    padding: 5px 5px 20px 20px;
    background:none ;
    text-shadow: 0 0 0.105em hsl(0 0% 10% / 0.1), 0 0 0.25em currentColor;
    font-size: 6.9rem;
    font-family: 'VT323', monospace;
    border: 0;
  
}

#play a{
    text-decoration: none;
    color: #087535;
}

#play:hover{
    font-size: 6.5rem;
    transition: 150ms ease-out;
    cursor: pointer;
}



/* Styling for the card game */


.main-container{
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
 
}

.game-container{
    height: 1040px;
    width : 740px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  
}


/* Countdown and add clicks container */

.topBox{
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#countDown{
    color: aliceblue;
    font-size: 4.2rem;
    z-index: 1;
    font-family: 'VT323', monospace;
    color: #40ee88;
    width: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

#clicks{
    color: white;
    font-size: 4.5rem;
    z-index: 1;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
}

/*....................*/














.youWin{
    font-family: 'VT323', monospace;
    font-size: 8rem;
    color: #087535;
    z-index: 1;
}



/* Cards style */

.card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10);
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .7s;
     
}

.card:active {
    transform: scale(.97);
    transition: transform .2s;
}


.card.flip{
    transform: rotateY(180deg);
}


.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 15px;
    
}


.front-face{
    transform: rotateY(180deg);
}






/* You win page */


.youWon{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#image{
    width: 100%;
    height: 100%;
    position: absolute;
}



/* You lose page */

.youLoseContainer{
    height: 100Vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.youLose{
    font-size: calc(1.5rem + 72px);
    margin-top: -142px;
    width: 100%;
    z-index: 1;
    text-align: center;
    color: #40ee88;
}

/* Restart button for the You winn and for the You lose page */

#restartBTN {
    width: 10%;
    height: 62px;
    border-radius: 50px;
    
    background:none ;
    font-size: 1.9rem;
    position: relative;
    border: 0;
    

}



#lose{
    width: 150px;
    height: 50px;
    color: #087535;
    font-size: 3rem;
}

#restartBTN a{
    text-decoration: none;
    color: #087535;
    font-family: 'VT323', monospace;
    font-size: 4.9rem;
    border: 2px solid white;
    border-radius: 15px;
    background-color: antiquewhite;
   margin: 0 auto;

}


#restartBTN:hover{
    transition: 150ms ease-out;
    cursor: pointer;
    font-size: 6.9rem;

}



@media only screen and (max-width: 720px){


    /*Mobile View */

/* Styling for the begin play page*/

.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.playText{
    font-size: calc(1.5rem + 42px);
    text-align: center;
}

#play {
    display: flex;
    justify-content: center;
    width: 100%;
}


/* Styling for the you win page*/

.youWon{
     width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.youWin{
    
    font-size: calc(1.5rem + 72px);
    margin-top: -142px;
    z-index: 1;
    
}


#restartBTN {
    margin-top: 10px;
    width: 100%;
    height: 20px;

}

#restartBTN a{
    font-size: calc(1.5rem + 45px);
    margin-bottom: 4px solid white;
}


#clicks{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 0%;
    right: 10%;
}








/* Styling for the game container and the cards on mobile view*/

#countDown{
    position: absolute;
    top: 0;
}

.game-container{
    height: 80%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.card{
    height: 21%;
    width: 22%;
 
}
    
}